@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.App {
  /* border: 1px solid green; */
  background-color: #fffffe;
  margin: auto;
  height: 100vh;
  overflow: auto;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width: 1200px) {
  .App {
    width: 80%;
  }
}
